 body {
	font-family: Meiryo;
	background-image: url(/imgs/welcome_bg.png);
	background-attachment:fixed;
	background-position:center; 
 }
 #container {
	background-image: url(/imgs/wobg.png);
	width: 1000px;
	border: 1px solid black;
 }
 #navigation {
	background-image: url(/imgs/redbg.png);
	width: 1000px;
	margin: 2px;
	border: 1px solid black;
	font-weight: bold;
	color: white;
 }
 #navigation b {
	float: left;
 }
 a:link {
	color: white;
	text-decoration: none;
 }
 a:visited {
	color: white;
	text-decoration: none;
 }
 a:hover {
	color: white;
	text-decoration: underline;
 }
 a:active {
	color: white;
	text-decoration: none;
 }
